<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BBS">

	<!-- 전체 게시글 수 조회 -->
	<select id="totalCount" resultType="int">
		SELECT COUNT(*) AS CNT FROM BBS_T
	</select>
	
	<!--  페이지에 표시할 데이터 조회 
			parameterType="Map" : begin , end 값 전달 용도
			key-value 형태의 Map 사용 바인드 변수명 key가 됨
	-->
	<select id="list" resultType="BBSVO" parameterType="Map">
		SELECT*
		    FROM (SELECT ROWNUM AS R_NUM, B.*
		        FROM (SELECT *
					      FROM BBS_T
					     ORDER BY B_IDX DESC
		        	) B
    			)
 			WHERE R_NUM BETWEEN #{begin} AND #{end}
	</select>
	<!-- 게시글 하나 조회 (B_IDX 값으로) -->
	<select id="one" parameterType="String" resultType="BBSVO">
		SELECT B_IDX, SUBJECT, WRITER, CONTENT, FILE_NAME, 
				ORI_NAME, PWD, WRITE_DATE, IP, HIT
		FROM BBS_T
		WHERE B_IDX = #{b_idx}
	</select>
	
	<!-- 게시글 입력 처리 -->
	<insert id="insert" parameterType="BBSVO">
		INSERT INTO BBS_T
			(B_IDX, SUBJECT, WRITER, CONTENT, FILE_NAME, 
				ORI_NAME, PWD, WRITE_DATE, IP, HIT)
		VALUES (BBS_T_SEQ.NEXTVAL, #{subject}, #{writer}, #{content}, #{file_name}, 
				#{ori_name}, #{pwd}, SYSDATE, #{ip}, 0)
	</insert>
	<!-- 조회수 1 증가 처리 -->
	<update id="hit" parameterType="int">
		UPDATE BBS_T
			SET HIT = HIT + 1
			WHERE B_IDX = #{b_idx}
	</update>
	
	<!-- 게시글 수정 -->
	<update id="update" parameterType="BBSVO">
		UPDATE BBS_T
			SET SUBJECT = #{subject},
				WRITER = #{writer},
				CONTENT = #{content},
				FILE_NAME = #{file_name},
				ORI_NAME = #{ori_name},
				WRITE_DATE = SYSDATE,
				IP = #{ip}
			WHERE B_IDX = #{b_idx}
			
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="delete" parameterType="string">
		DELETE BBS_T WHERE B_IDX = #{b_idx}
	</delete>
	
	<!-- ============ 댓글처리 ============= -->
	<!-- 게시글에 딸린 댓글 조회  -->
	<select id="commList" parameterType="string" 
		resultType="com.bc.mybatis.CommVO">
		SELECT *
			FROM COMMENT_T
			WHERE B_IDX = #{b_idx}
			ORDER BY C_IDX DESC
	</select>
	
	<!-- 댓글 입력 -->
	<insert id="c_insert" parameterType="com.bc.mybatis.CommVO">
		INSERT INTO COMMENT_T
			(C_IDX, WRITER, CONTENT, PWD, WRITE_DATE, IP, B_IDX)
		VALUES (BBS_T_SEQ.NEXTVAL, #{writer}, #{content}, #{pwd}, 
					SYSDATE, #{ip}, #{b_idx})
	</insert>
	
	<!-- 댓글 삭제 -->
	<delete id="c_delete" parameterType="string">
		DELETE FROM COMMENT_T WHERE C_IDX = #{c_idx}
	</delete>
	
	
</mapper>