<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>01_Servlet</display-name>
  <welcome-file-list>
    <welcome-file>welcome.html</welcome-file>
  </welcome-file-list>
  
  <!--  서블릿 맵핑 (어노테이션 주석 후! 처리할 클래스 연결)
  
  <servlet>
  	<servlet-name>test</servlet-name>
  	<servlet-class>com.mystudy.servlet.Ex03</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>test</servlet-name>
  	<url-pattern>/test03</url-pattern>
  </servlet-mapping>
  
  -->

</web-app>
