@charset "UTF-8";

option{text-align: center;}

/* 제목 부분*/
#questions-index-page .container {
    max-width: 942px;
    margin-left: auto;
    margin-right: auto;
}

/* 게시글 전체적인 화면 */
.questions-item {
    border-top: 1px solid #ededed;
}

/* 질문과 답변 */
.questions-header__title {
    text-align: center;
}
.questions-header__title h1 {
    font-size: 22px;
	color: black;
	font-weight: bold;
    margin-bottom: 15px;
	}
}

/* 리스트 노출 */
/* 각기 리스트별로 hover시 스타일링 */
.questions-item__link:hover {
	text-decoration:none;
}
.questions-item:hover {
	text-decoration:none;
	background-color: #fafafa;
}

/* 게시글 목록 위 아래 구분하기 위한 구분선 */
.questions-item {
    padding: 15px 0;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}


/* 중요하게 노출할 것! */
.questions-item__title {
    color: black;
    font-weight: bold;
}

/* 작성자 아이디 */
.questions-item__footer__author {
    color: #424242;
    font-weight: bold;
    margin-right: 8px;
}


/* 글올리는 시간  */
.questions-item__footer__time {
    margin-right: 8px;
    color: #757575;
	font-size: 11px;
}
/* 구분점 */
.questions-item__footer__time:after {
    margin: 0 4px;
    color: #757575;
}

#root {
	margin-bottom: 100px;
}

#questions-paginator {
	margin-top: 30px;
	margin-bottom: 50px;
}
nav.paginator>ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex
}
nav.paginator>ul {
    justify-content: center;
    align-items: center;
}
nav.paginator>ul>li {
    width: 26px;
    height: 26px;
    border-radius: 4px;
    line-height: 26px;
    text-align: center;
}
nav.paginator>ul>li.active {
    background-color: #35C5F0;
    color: #ffffff;
    cursor: default
}
nav.paginator>ul>li[role=button]:hover {
    color: #35C5F0;
    text-decoration: underline;
    cursor: pointer;
}
nav.paginator>ul>li:not([rel]) {
    margin: 0 2px;
}
nav.paginator>ul>li[rel=prev] {
    margin-right: 4px;
}

/* prev, next 버튼 */
.icon-pointer-button-square-left,
.icon-pointer-button-square-right {
	background: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 3px 6px;
}


/* 모바일 */
@media (min-width: 768px) {
	/* 리스트 노출 */
	/* 각기 리스트별로 hover시 스타일링 */
	.questions-item__link:hover {
		text-decoration: underline;
		color: black;
	}
	.questions-item:hover {
		text-decoration:none;
		background-color: white;
	}
	
	/* 중요한 거 노출할 거임*/
	.questions-header__title h1 {
	    margin-bottom: 15px;
		font-size: 32px;
	}
	/* 게시글 제목*/
	.questions-item__title {
		font-size: 18px;
	}

	/* 작성자 아이디 */
	 .questions-item__footer__author {
        margin-right: 20px;
    }


}


/* PC */
@media (min-width: 1256px) {
	.container {
	    margin-right: auto;
	    margin-left: auto;
	    box-sizing: border-box;
	    width: 1136px;
	    max-width: 100%;
	    box-sizing: border-box;
	    min-height: 1px;
	}
	
	/* 게시글 제목 */
	.questions-item__title {
		font-size: 21px;
	}
}