
	table {
		font-family: "Roboto", helvetica, arial, sans-serif;
		width: 600px;
		margin: 30px auto 0; /* 상 좌우 하 */
		border: 1px solid navy;
		border-collapse: collapse;
		font-size: 0.8em;
		text-align: center;
	}
	th, td { border: 1px solid navy; padding: 4px; }
	th { 
	background-color: #4e4e4e; 
	}
	.red { color: red; }

	
	@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
	
	
	body {
  	font-family: "Roboto", helvetica, arial, sans-serif;
  	font-size: 16px;
 	font-weight: 400;
  	text-rendering: optimizeLegibility;
  	background-color : rgb(255, 255, 243);
	}
	
  .table-title {
   color: pink;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
	}
	
	.table-fill {
	  background: white;
	  border-radius:3px;
	  border-collapse: collapse;
	  border-color: rgb(255, 255, 243);
	  height: 320px;
	  margin: auto;
	  max-width: 600px;
	  padding:5px;
	  width: 100%;
	  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	  animation: float 5s infinite;
	}
	
	#container {
		width : 512px;
		margin : auto;
		/* border : 1px solid black; */
	}
	#container h2 { 
	text-align : center; 
	font-size: 30px;
   	font-weight: 400;
   	font-style:normal;
   	font-family: "Roboto", helvetica, arial, sans-serif;
   	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   	text-transform:uppercase;
	
	}
	#container p { text-align : center; }
	#container table {
		sbackground: white;
		border-radius:3px;
		width:500px;
		margin: auto;
		border-collapse : collapse;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  		animation: float 5s infinite;
	}
	
	th {
	  color: white;
	  font-size:15px;
	  font-weight: 100;
	  padding:5px;
	  text-align:center;
	  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	  vertical-align:middle;
	  
	}
	
	th:first-child {
	  border-top-left-radius:3px;
	}
	 
	th:last-child {
	  border-top-right-radius:3px;
	  border-right:none;
	}
	
	
	
	tr {
	  border-top: 1px solid #C1C3D1;
	  border-bottom-: 1px solid #C1C3D1;
	  color:#666B85;
	  font-size:16px;
	  font-weight:normal;
	  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
	}
	
	tr:first-child {
	  border-top:none;
	}
	
	tr:last-child {
	  border-bottom:none;
	}
	 
	tr:nth-child(odd) td {
	  background:#EBEBEB;
	}
	 
	tr:nth-child(odd):hover td {
	  background:rgba(255, 199, 199, 0.918);
	}
	
	tr:last-child td:first-child {
	  border-bottom-left-radius:3px;
	}
	 
	tr:last-child td:last-child {
	  border-bottom-right-radius:3px;
	}
		
	tr:hover td {
	  background:rgba(255, 199, 199, 0.918);
	  color:#FFFFFF;

	}
	#container table th, #container table td { border: 1px solid black; }
	#container table th {
		background-color: pink;
	}

	#container .center{ text-align: center; }
	
	.link-3 {
	  transition: 0.4s;
	  color: #000000;
	  font-size: 15px;
	  text-decoration: none;
	  padding: 0 10px;
	  margin: 0 10px;
	}
	.link-3:hover {
	  background-color: pink;
	  color: white;
	  padding: 10px 10px;
	}
	
	.text {
		text-decoration: none;
		color : black;
	}
	
	
	
	
	