<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BBS">

	<!-- 전체 게시글 수 조회 --> 
	<select id="totalCount" resultType="int">
		SELECT COUNT(*) AS CNT FROM BBS_T
	</select>
	
	<!--  페이지에 표시할 데이터 조회 
			parameterType="Map" : begin , end 값 전달 용도
			key-value 형태의 Map 사용 바인드 변수명 key가 됨
	-->
	
	<select id="list" resultType="BBSVO" parameterType="Map">
		SELECT*
			    FROM (SELECT ROWNUM AS R_NUM, B.*
			        FROM (SELECT *
						      FROM BBS_T
						     ORDER BY B_IDX DESC
			        	) B
	    			)
	 			WHERE R_NUM BETWEEN #{begin} AND #{end}
	</select>
	
	<!-- 조회수 1 증가 처리 -->
	<update id="hit" parameterType="string">
		UPDATE BBS_T
			SET HIT = HIT + 1
			WHERE B_IDX = #{b_idx}
	</update>
</mapper>