.cname {
	font-weight: 900;
	font-size: x-small;
}

.randomCompany>div>IMG {
	width: 100%;
	height:130px;
	border-radius: 6%;
}

.cadr {
	font-weight: 600;
	font-size: 13px;
	color: #333;
}

.ctel {
	font-weight: 900;
	font-size: x-small;
	color: #333;
}

.randomCompany>div{
	cursor: pointer;
}

.randomCompany{
	display: inline-block;
	margin: 0px;
}